*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.input{
    width: 100%;
        display: flex;
flex-direction: column;
    gap: 12px;
}
input{

align-items: flex-start;

align-self: stretch;
    height: 49.6px;
flex-shrink: 0;
align-self: stretch;
border-radius: 10px;
border:var(--inputborder);
background: var(--background);
width: 100%;
}

label{
    color: var(--primarytxt);
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 20px; /* 142.857% */
}


.message{
      height: 149.6px;

}

