*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footertitle{
    display: flex;
border-bottom: 1px solid #C9A962;
align-items: center;
}

.footertitle h2{
    color: #FFF;
font-family: "Times New Roman";
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 155.556% */
}