*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.yellowbtn{
    display: flex;
padding: 10.2px 31.45px 13.8px 33px;
justify-content: center;
align-items: center;
border-radius: 8px;
background: #C9A962;
color: var(--btntxt, #FFF);
text-align: center;
font-family: Arial;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
border: none;
transition: all 0.3s ease;
cursor: pointer;
}

.yellowbtn:hover{
    background: #C9A962;
    opacity: 0.8;
    cursor: pointer;
    scale: 1.05;
}