*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.titletxt{
   display: flex;
flex-direction: column;
align-items: center;
gap: 12px;
align-self: stretch;
}

.titletxt span{
    color: #C9A962;
text-align: center;
font-family: Arial;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 142.857% */
letter-spacing: 0.7px;
text-transform: uppercase;

}

.titletxt h1{
    color: var(--primarytxt);
    text-align: center;
font-family: "Times New Roman";
font-size: 48px;
font-style: normal;
font-weight: 400;
line-height: 48px; /* 100% */

}

.titletxt hr{
    width: 80px;
height: 4px;
background: #C9A962;    border: none;
}