*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.formlink{
    display: flex;
align-items: flex-start;
gap: 16px;
flex-shrink: 0;
align-self: stretch;
}

.formlinktxt{
    display: flex;
flex-direction: column;
align-items: flex-start;
gap: 4px;
}

.formlinktxt h2{
    color: var(--formheading);
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 142.857% */
}


.formlinktxt p{
    color: var(--primarytxt);
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 155.556% */
}