*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.team{
    display: flex;
width: 233px;
flex-direction: column;
align-items: center;
gap: 10px;
border-radius: 16px;
background: #FFF;
padding-bottom: 25px ;
overflow: hidden;
box-shadow: 0 4px 6px -4px rgba(0, 0, 0, 0.10);
}

.team h1{
    color: var(--primarytxt);
text-align: center;
font-family: "Times New Roman";
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 140% */
}

.team p{
    color: #C9A962;
text-align: center;
font-family: Arial;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 142.857% */
}