:root{
    --background : #ffffff;
    --darkicon: block;
    --lighticon: none;
    --btntxt: #ffffff;
    --primarytxt: #364153;
    --cardbg: #fff;
    --miscardbg: linear-gradient(180deg, #1E3A5F 0%, #2D4A6F 100%);
    --backgroundsec : #ffffff;
    --inputborder:  0.8px solid #D1D5DC;
    --formheading: #6A7282;
    --footerbg: #1E3A5F;

}


.dark-theme{
    --background : #1A1A1A;
    --darkicon: none;
    --lighticon: block;
    --btntxt: #1E3A5F;
    --primarytxt: #fff;
    --cardbg: #2a2a2a;
    --miscardbg: linear-gradient(180deg, #1A1A1A 0%, #2A2A2A 100%);
    --backgroundsec : #000000;
    --inputborder:0.8px solid #32353a;
    --formheading: #99A1AF;
    --footerbg: #000000;


;



}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    background-color: var(--background);
}

.herosection{
    display: flex;
    width: 100%;
      background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 85vh;
  padding: 70px;
}

.herotxt{
    display: flex;
width: 50%;
flex-direction: column;
align-items: flex-start;
gap: 34px;
flex-shrink: 0;
}

.herotxt h1{
    color: #FFF;
font-family: "Times New Roman";
font-size: 72px;
font-style: normal;
font-weight: 400;
line-height: 70px; /* 125% */
}

p{
   color: #E5E7EB;
font-family: Arial;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 140% */ 
}

.serv{
    display: flex;
padding: 12px 32px;
justify-content: center;
align-items: center;
gap: 8px;
align-self: stretch;
color: #FFF;
text-align: center;
font-family: Arial;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
background: transparent;
border-radius: 8px;
border: 2px solid #FFF;
cursor: pointer;
}

.btns{
    display: flex;
    gap: 16px;
}

.serv:hover{
    background: #FFF;
    color: #1A1A1A;
    transition: 0.3s ease-in-out;
    scale: 1.05;
}

.call{
    display: flex;
height: 48px;
align-items: center;
gap: 12px;
align-self: stretch;
}

.calltxt{
    display: flex;
flex-direction: column;
align-items: flex-start;
}

.calltxt span{
    color: #D1D5DC;
font-family: Arial;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 142.857% */
}

.calltxt h1{
    color: #FFF;
font-family: Arial;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 155.556% */
}

.section2{
    display: flex;
padding: 41px 80px;
flex-direction: column;
align-items: center;
gap: 48px;
}

.sec2img{
    display: flex;
align-items: center;
gap: 48px;
}

.sec2imgtxt{
    display: flex;
width: 50%;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 32px;
}

.sec2imgtxt p{
    color: var(--primarytxt);
font-family: Arial;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 22px; /* 122.222% */
}

.aboutcards{
    display: flex;
align-items: center;
gap: 24px;
align-self: stretch;
justify-content: center;}

.section3{
    background: var(--backgroundsec);
    display: flex;
padding: 96px 79px;
justify-content: center;
align-items: center;
gap: 31px;
}

.section4{
    display: flex;
padding: 96px 79px ;
flex-direction: column;
align-items: flex-start;
gap: 48px;
flex-shrink: 0;
align-self: stretch;
    background: var(--backgroundsec);

}
.areacards{
    display: flex;
align-items: flex-start;
align-content: flex-start;
gap: 32px;
align-self: stretch;
flex-wrap: wrap;
justify-content: center;
}

.section5{
    display: flex;
padding: 34px 0;
justify-content: center;
flex-direction: column;
align-items: flex-start;
gap: 48px;
}

.teamgrid{
    display: flex;
align-items: flex-start;
align-content: flex-start;
gap: 20px;
align-self: stretch;
flex-wrap: wrap;
justify-content: center;
}

.contact{
    display: flex;
padding: 50px 76px;
flex-direction: column;
align-items: flex-start;
gap: 48px;
align-self: stretch;
}

form{
    display: flex;
padding: 32px;
flex-direction: column;
align-items: flex-start;
flex: 1 0 0;
gap: 24px;
width: 40%;
border-radius: 16px;
background: var(--cardbg);
box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.10), 0 8px 10px -6px rgba(0, 0, 0, 0.10);
}

.conform{
    width: 100%;
    display: flex;
align-items: flex-start;
gap: 103px;
}

.links{
    display: flex;
flex-direction: column;
align-items: flex-start;
gap: 24px;
flex-shrink: 0;
align-self: stretch;
}

.linkloc{
    display: flex;
    flex-direction: column;
    gap: 50px;
    
}

footer{
    display: flex;
padding: 64px 79px;
flex-direction: column;
align-items: flex-start;
justify-content: space-between;
background: var(--footerbg);
width: 100%;
}

.columns{
    display: flex;
justify-content: space-between;
align-items: flex-start;
flex-shrink: 0;
align-self: stretch;

}
.col1{
    width: 25%;
    display: flex;
flex-direction: column;
align-items: flex-start;
gap: 16px;
align-self: stretch;
}

.col1 p{
    color: #fff;
font-family: Arial;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 15px; /* 107.143% */
}
