*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.aboutcard{
    display: flex;
padding: 24px;
width: 141.331px;
flex-direction: column;
align-items: center;
gap: 10px;
border-radius: 10px;
background: var(--cardbg);
box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.10), 0 2px 4px -2px rgba(0, 0, 0, 0.10);
}

.aboutcard h1{
    color: var(--primarytxt);
text-align: center;
font-family: Arial;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: 36px; /* 120% */
}

.aboutcard p{
    color: var(--primarytxt); 
text-align: center;
font-family: Arial;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 142.857% */
}

.aboutcard:hover{
    scale: 1.05;
    transition: 0.3s ease-in-out;
box-shadow: 0 4px 11.3px -1px #B89852;
}


@media (min-width: 300px) and (max-width: 600px){
    .aboutcard img{
        width: 13vw;
    }
}