*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.areacard{
    display: flex;
width: 309.331px;
padding: 33px 27px;
flex-direction: column;
align-items: flex-start;
gap: 18px;
border-radius: 10px;
cursor: pointer;
background: var(--cardbg);
box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.10), 0 2px 4px -2px rgba(0, 0, 0, 0.10);
}

.areacard h1{
    color: var(--primarytxt);
font-family: "Times New Roman";
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 140% */
}

.areacard p{
    color: var(--primarytxt);
    font-family: Arial;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 18px; 

}

.areacard:hover{
    scale: 1.05;
    transition: 0.3s ease-in-out;
box-shadow: 0 4px 11.3px -1px #B89852;
}